doctype html
html
    head
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='mobile-web-app-capable', content='yes')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/style/main.css')

    body
        h1 Hi v2.3.2

        script(src='/bundle.js')
